@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body,
div,
span,
object,
iframe,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
code,
em,
img,
small,
strike,
strong,
sub,
sup,
tt,
b,
u,
i,
ol,
ul,
li,
fieldset,
form,
label,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
main,
canvas,
embed,
footer,
header,
nav,
section,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
     -moz-text-size-adjust: none;
          text-size-adjust: none;
}

footer,
header,
nav,
section,
main {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  border-radius: 0;
}

main {
  font-family: "Work Sans", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 29px 29px 0px 29px;
}
main a {
  font-family: "Work Sans", sans-serif;
}
main h2 {
  color: #292e3d;
  font-weight: 700;
  line-height: 42.23px;
  font-size: 36px;
}
main #our__reputation {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 29px;
  width: 100%;
}
main #our__reputation .cards__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  width: 100%;
}
main #our__reputation .cards__container .card {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  border: 1px solid #e0e3eb;
  border-radius: 4px;
  padding-bottom: 40px;
  width: 100%;
}
main #our__reputation .cards__container .card img {
  width: 32px;
  height: 32px;
}
main #our__reputation .cards__container .card h3 {
  color: #3d445c;
  font-weight: 700;
  font-size: 20px;
  line-height: 23.46px;
}
main #our__reputation .cards__container .card p {
  color: #858ead;
  font-weight: 400;
  font-size: 16px;
  line-height: 18.77px;
}

@media screen and (min-width: 768px) {
  main #our__reputation .cards__container {
    flex-direction: row;
    justify-content: center;
    gap: 60px;
  }
  main #our__reputation .cards__container .card {
    width: 336px;
    height: 227px;
  }
}
#projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 29px;
  width: 100%;
  padding-top: 100px;
  padding-bottom: 30px;
}
#projects .content__wrapper {
  width: 100%;
}
#projects .content__wrapper nav {
  display: none;
}
#projects .content__wrapper .cards__buttons .cards__container {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
}
#projects .content__wrapper .cards__buttons .cards__container .card {
  width: 100%;
  display: flex;
  flex-direction: column;
}
#projects .content__wrapper .cards__buttons .cards__container .card img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
#projects .content__wrapper .cards__buttons .cards__container .card .card__description {
  padding: 12px;
  background-color: #2947a9;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
}
#projects .content__wrapper .cards__buttons .cards__container .card .card__description h3 {
  font-weight: 700;
  font-size: 20px;
  line-height: 23.46px;
}
#projects .content__wrapper .cards__buttons .cards__container .card .card__description p {
  font-size: 18px;
  font-weight: 400;
  line-height: 21.11px;
}
#projects .content__wrapper .cards__buttons .buttons__container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 30px;
}
#projects .content__wrapper .cards__buttons .buttons__container .carrousel__circles,
#projects .content__wrapper .cards__buttons .buttons__container .next,
#projects .content__wrapper .cards__buttons .buttons__container .back {
  display: none;
}
#projects .content__wrapper .cards__buttons .buttons__container button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 334px;
  height: 64px;
  background-color: #292e3d;
  color: white;
  font-size: 18px;
  font-weight: 400;
  line-height: 21.11px;
  border: none;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  main #projects {
    display: flex;
    align-items: flex-start;
  }
  main #projects #main__title {
    display: none;
  }
  main #projects .content__wrapper {
    display: flex;
    justify-content: center;
    gap: 260px;
  }
  main #projects .content__wrapper nav {
    display: block;
  }
  main #projects .content__wrapper nav h2 {
    margin-bottom: 20px;
  }
  main #projects .content__wrapper nav ul {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  main #projects .content__wrapper nav li a {
    text-decoration: none;
    font-weight: 500;
    font-size: 24px;
    line-height: 28.15px;
    color: #c2c7d6;
  }
  main #projects .content__wrapper .cards__buttons .cards__container {
    padding-top: 70px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
  }
  main #projects .content__wrapper .cards__buttons .cards__container .card {
    height: 100%;
  }
  main #projects .content__wrapper .cards__buttons .cards__container .card .card__description {
    height: 100%;
  }
  main #projects .content__wrapper .cards__buttons .cards__container .card .card__description p {
    margin-bottom: 10px;
  }
  main #projects .content__wrapper .cards__buttons .buttons__container {
    margin-top: 30px;
    justify-content: space-between;
    gap: 18px;
  }
  main #projects .content__wrapper .cards__buttons .buttons__container .carrousel__circles {
    display: flex;
    gap: 9px;
  }
  main #projects .content__wrapper .cards__buttons .buttons__container .carrousel__circles .circle {
    border-radius: 50%;
    width: 16px;
    height: 16px;
    background-color: #f6f8f7;
  }
  main #projects .content__wrapper .cards__buttons .buttons__container .carrousel__circles .circle:nth-child(1) {
    background-color: #2947a9;
  }
  main #projects .content__wrapper .cards__buttons .buttons__container button {
    width: 100%;
  }
  main #projects .content__wrapper .cards__buttons .buttons__container .see__more {
    display: none;
  }
  main #projects .content__wrapper .cards__buttons .buttons__container .back {
    display: flex;
  }
  main #projects .content__wrapper .cards__buttons .buttons__container .back img {
    transform: rotate(-180deg);
  }
  main #projects .content__wrapper .cards__buttons .buttons__container .next {
    display: flex;
  }
}
main #section__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 29px;
  width: 100%;
  padding-top: 100px;
  padding-bottom: 30px;
}
main #section__form h2,
main #section__form p {
  text-align: center;
  padding: 0px 20px;
}
main #section__form .title__description {
  font-size: 20px;
  font-weight: 400;
}
main #section__form form,
main #section__form fieldset {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}
main #section__form form input,
main #section__form form textarea,
main #section__form form select,
main #section__form form option,
main #section__form form button,
main #section__form fieldset input,
main #section__form fieldset textarea,
main #section__form fieldset select,
main #section__form fieldset option,
main #section__form fieldset button {
  font-family: "Work sans", sans-serif;
  font-size: 18px;
  line-height: 21.11px;
  border: 1px solid #e0e3eb;
  border-radius: 4px;
  padding: 10px;
  background-color: #fff;
}
main #section__form form textarea,
main #section__form fieldset textarea {
  height: 135px;
}
main #section__form form .input__file,
main #section__form fieldset .input__file {
  padding: 0px;
}
main #section__form form .input__file::file-selector-button,
main #section__form fieldset .input__file::file-selector-button {
  border: none;
  background: #2947a9;
  color: #fff;
  cursor: pointer;
  padding: 10px;
}
main #section__form form button,
main #section__form fieldset button {
  background-color: #2947a9;
  color: white;
  font-weight: 600;
  padding: 15px;
  align-self: center;
  max-width: 271px;
  width: 100%;
  cursor: pointer;
}
main #section__form form p,
main #section__form fieldset p {
  align-self: flex-start;
  color: #667299;
}
main #section__form form p span,
main #section__form fieldset p span {
  color: red;
}

@media screen and (min-width: 768px) {
  main #section__form {
    max-width: 770px;
  }
  main #section__form form fieldset {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}/*# sourceMappingURL=styles.css.map */